/target/
/.settings/
/.project
/.classpath
.nbattrs
src/main/resources/META-INF/persistence.xml

/target/
/build/

.nb-gradle/
.nb-jdks/
.nb-configurations/
.vscode/
.idea/
*.class

.DS_Store
Thumbs.db
*.config.properties
config.properties
docs/DOCUMENTACAO.pdf
docs/gerar_pdf.py
/Exercicios Professor/aula2_ex1/aula2_ex1/target/
/Exercicios Professor/aula2_ex2/aula2_ex2/target/
/Exercicios Professor/prjAula2_1/prjAula2_1/build/
/Exercicios Professor/prjAula2_1/prjAula2_1/nbproject/private/
/Exercicios Professor/prjAula2_3/prjAula2_3/nbproject/private/
/Exercicios Professor/prj_aula10_1 (1)/prj_aula10_1/prj_aula10_1/target/
/Exercicios Professor/prj_aula10_1 (2)/prj_aula10_1/prj_aula10_1/prj_aula10_1/target/
/Exercicios Professor/prj_aula10_1/prj_aula10_1/target/
/Exercicios Professor/prj_aula4_1/prj_aula4_1/target/
/Exercicios Professor/prj_aula4_2/prj_aula4_2/target/
/Exercicios Professor/prj_aula5_1/prj_aula5_1/target/
/Exercicios Professor/prj_aula5_2/prj_aula5_2/target/
/Exercicios Professor/prj_aula6_1/prj_aula6_1/target/
/Exercicios Professor/prj_resumo_lp1/prj_resumo_lp1/target/
/Exercicios Professor/prj_revisao_2/prj_revisao_2/prj_revisao_2/target/
/Exercicios Professor/prj_revisao_2/prj_revisao_2/target/
